*{
    margin: 0;
    padding: 0;
    
}

body{
    overflow: hidden;
}

section{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    border-radius: 15px;
    position: sticky;
    top: 100px;
    bottom: 100px;
    transform: translate(500px);

}

form{
    display: block;
    align-items: center;
    justify-content: space-evenly;
}

input{
    display: flex;
}


p{
    
    height: 70px;
    display: flex;
    width: 200px;
    font-size: 30px;
}

.google-icon a{
font-size: 50px;
color: #fff;
}