*{
    padding: 0px;
    margin: 0px;
}

body{
    background: rgb(231, 28, 28);
   
    overflow-x: hidden;
}

header{
    font-size: 2rem;
    transform: translate(0px);
   
    
}

header nav{

background: #fff;
width: 100%;
display: flex;

justify-content: space-between;

align-items: start;
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


header nav a{
    text-decoration: none;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

header nav a:hover{
    color: #fff;
    background: black;
    cursor: pointer;
}



header nav a img{
   width: 50px;
    border: none;
    border-radius: 50px;
    box-shadow: none;
}

#hidden-section{
    width: 300px;
    border: 1px solid #fff;
    height: 1000px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  
}

#menu{
    width: 100px;
    transform: translate(50px);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 25px;
}






#profile{
    width: 200px;
    background:   white;
    box-shadow: rgba(216, 240, 8, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(4, 8, 240, 0.2) 0px -3px 0px inset;
    height: 200px;
    border: 2px solid #fff;
    border-radius: 100%;
    transform: translate(20px, 10px);

}


#user-profile{
    width: 250px;
    height: 700px;
    transform: translate(60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translate(0px);
    
}



#input-file{
    display: none;
}


#file-upload{
    
    background: rgb(255, 0, 0);
    color: white;
    border-radius: 25px;
    box-shadow: rgba(216, 240, 8, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(4, 8, 240, 0.2) 0px -3px 0px inset;
}






#gender{
    transform: translateY(10px);
}

#logout{
    display: flex;
    justify-content: center;
    color: #fff;
    background: rgb(255, 0, 0);
  
    border-radius: 25px;
    transform: translateY(500px);
}

.dashboard{
    display: grid;
    grid-template-columns: 12px 12px 12px;
    grid-template-rows: 12px 12px 12px;
    row-gap: 200px;
    column-gap: 22rem;
    transform: translate(300px, -1050px);
    

   
}

div{
    transform: translate(50px, 100px);
    border: 1px solid black;
    width: 350px;
    height: 200px;
    border-radius: 25px;
    background: #fff;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

button{
    width: 100px;
    height: 50px;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    display: flex;
    justify-content: center;
    transform: translateY(100px);
    background: #fff;
    border: 1px solid blue;
    color: rgb(25, 114, 202);
    background: rgb(248, 246, 246);
   
}

button:hover{
    background-color: black;
}
select{
    width: 100px;
    height: 50px;
    display: flex;
    transform: translate(0px, 100px);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
   
}

#provider{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transform: translate(-23px);
    border-radius: 25px;
}
#health-providers{
    transform: translate(200px, 50px);
}

#team{
   position: relative;
   z-index: -3;
   transform: translate(100px);
}



li{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    transform: translate(-200px , -70px);
}

#appointment{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 15px;
    transform: translate(-20px);
    background: #fff;

}


#appointment-list{
    transform: translate(200px);
}





/* For tablets and up (at least 768px wide) */
@media (min-width: 768px) {
    .container {
        flex-direction: row; /* Two columns for tablets and larger */
    }
}

/* For large screens (at least 992px wide) */
@media (min-width: 992px) {
    .container {
        max-width: 960px;
        margin: 0 auto;
    }
}

/* For very large screens (at least 1200px wide) */
@media (min-width: 1200px) {
    .container {
        max-width: 1100px;
    }
}
