*{
    margin: 0;
    padding: 0;
    
}

body{
    background: rgb(51, 2, 10);
    color: #fff;
}



section{
    width: 500px;
    border: 1px solid black;
    transform: translate(500px, 100px);
    display: grid;
    gap: 50px;
    height: 400px;
    background: #e01111;
    border: 1px solid black;
    box-shadow: rgba(190, 13, 7, 0.4) -5px 5px, rgba(173, 9, 9, 0.3) -10px 10px, rgba(223, 9, 9, 0.2) -15px 15px, rgba(202, 12, 12, 0.1) -20px 20px, rgba(226, 19, 19, 0.05) -25px 25px;
    border-radius: 25px;
}

h1{
    color: white;
    transform: translate(200px);
}

form{

    display: flex;
    flex-direction: column;
    transform: translate(10px, 20px);

}


form input{
    width: 400px;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border: none;
    
}

button{
    width: 100px;
    height: 50px;
    transform: translate(200px, 40px);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

button:hover{
    background-color: #e01111;
}