#admin-bio{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: -2;
    box-shadow: none;
    height: 350px;
    width: 310px;
    transform: translate(-100px, -40px);
    border: none;
}
#admin-bio hr{
    border: 3px solid blue;
    width: 387px;
}
#update-delete{
    display: flex;
    transform: translate(30px, -100px);
}

