*{
    padding: 0px;
    margin: 0px;
}

body{
    background: rgb(255, 22, 22);
}

.dashboard{
    display: grid;
    grid-template-columns: 12px 12px 12px;
    grid-template-rows: 12px 12px 12px;
    row-gap: 200px;
    column-gap: 500px;
}

div{
    transform: translate(50px, 100px);
    border: 1px solid black;
    width: 400px;
    height: 200px;
    border-radius: 25px;
    background: #fff;
}

button{
    width: 100px;
}

